@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Century Gothic';
	font-weight: 400;
	font-style: italic;
	font-display: swap;
	src: url('/fonts/5206844/85b3851b-b6b4-4524-9d23-de47e8d72aee.woff2') format('woff2'),
		url('/fonts/5206844/fd7bc16b-d289-475c-b83a-233e3c898b7d.woff') format('woff');
}
@font-face {
	font-family: 'Century Gothic';
	font-weight: bold;
	font-style: bold;
	font-display: swap;
	src: url('/fonts/5219390/9582dc06-7a4d-4a55-8dfc-aa69cd8b8436.woff2') format('woff2'),
		url('/fonts/5219390/656df9bb-f6e1-46a8-8a37-1c73ff3bbdf9.woff') format('woff');
}
@font-face {
	font-family: 'Century Gothic';
	font-weight: bold;
	font-style: italic;
	font-display: swap;
	src: url('/fonts/5310887/fa5e91f7-def7-4618-9094-c24564bb61bf.woff2') format('woff2'),
		url('/fonts/5310887/421adabb-3986-4971-8aa5-88bf576a6c2e.woff') format('woff');
}
@font-face {
	font-family: 'Century Gothic';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/5321689/d722f0d1-f586-442f-83de-f80218687a92.woff2') format('woff2'),
		url('/fonts/5321689/d5622205-b4e1-48e5-98a6-4ffe2ad76689.woff') format('woff');
}
@font-face {
	font-family: 'Arkina';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/arkina/arkina.otf') format('otf'),
		url('/fonts/arkina/arkina.woff') format('woff');
}

.styleTitle {
	@apply text-4xl lg:text-5xl text-ttmfBlack font-bold prose prose-em:not-italic prose-em:font-arkina prose-em:text-ttmfRed prose-em:font-normal prose-em:text-6xl prose-p:my-0;
}

.prose {
	@apply prose-em:text-ttmfRed prose-em:not-italic prose-a:font-bold prose-a:text-ttmfRed;
}

.sidebarPrevious {
	@apply border-2 border-ttmfRed text-ttmfBlack font-bold px-12 py-2 rounded w-full mt-4 transition-all hover:bg-ttmfBlack hover:text-white hover:border-ttmfBlack;
}

.sidebarNext {
	@apply bg-ttmfRed text-white font-bold px-12 py-5 rounded w-full transition-all hover:bg-ttmfBlack;
}

input[type='radio']:checked {
	accent-color: #d34b44 !important;
}
